.navbar {
    width: 100%;
    background-color: #9370db;
    color: black;
    text-align: right;
}

h1 {
    font-family: 'Courier', monospace;
    text-align: center;
}

.logo {
font-size: 32pt;
text-align: center;
margin: 0;
}

ul {
    list-style-type: none;
}

h2 {
    display: flex;
    
}

section {
    display: flex;
    font-size: 16pt;
    font-family: Courier, monospace;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    background-color: #9370db;

}

.flex-container1 {
   
    border: #9370db;
    border-style: solid;
    font-family: Courier, monospace;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 2%;
}

.flex-container2 {
   
    border: #9370db;
    border-style: solid;
    font-family: Courier, monospace;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 2%;
}

.flex-container3 {
   
    border: #9370db;
    border-style: solid;
    font-family: Courier, monospace;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 2%;
}

@media (max-width: 375px) (max-height: 800px);
